<div class="collegues_container">
    <div class="content">
        <div class="title">
            <h1 id="templayerNeeded">Teamplayer gesucht?</h1>
            <h2 id="whatColleguesSaid">Das sagen meine Kollegen über mich</h2>
        </div>

        <div class="reviews">
            <div>
                <span class="collegue_name">Thomas Langenfeld</span>
                <span class="project" id="project_join">Projekt Join</span>
                <p id="thomas_oppinion">‘‘Sangeethan war ein sehr angenehmer<br>
                    Partner. Mit Ihm konnten wir unser<br>
                    Projekt gut umsetzen. Er hat das Board<br>
                    designt und war für den Code zuständig.’’</p>
            </div>

            <div><span class="collegue_name">Julia Friedrich</span>
                <span class="project" id="project_join2">Projekt Join</span>
                <p id="julia_oppinion">‘‘Sangeethan hat einen sauberen Code <br>
                    geschrieben, welches ermöglicht, <br>
                    dass das Projekt funktioniert. Er war <br>
                    für die Funktionsweise des Projekts zuständig.’’</p>
            </div>
        </div>
    </div>

</div>