<div class="collegues_container">
    <div class="content">
        <div class="title">
            <h1 id="templayerNeeded">Need a teamplayer?</h1>
            <h2 id="whatColleguesSaid">Here what my colleagues said about me</h2>
        </div>

        <div class="reviews">
            <div>
                <span class="collegue_name">James Rugman</span>
                <span class="project">Project Join</span>
                <p>‘‘Sofia is a reliable and friendly<br>
                    person. Work in a structured way<br>
                    and write a clear code. I highly<br>
                    recommend her as a colleague.’’</p>
            </div>


            <div>
                <span class="collegue_name">Evelyn Marx</span>
                <span class="project">Project DA Bubble</span>
                <p>"Sofia is a trustworthy<br>
                    teamplayer and can cope with<br>
                    the stress of deadlines.<br>
                    Structured work and clear code."</p>
            </div>


            <div><span class="collegue_name">James Rugman</span>
                <span class="project">Project Join</span>
                <p>"Sofia had to develop, format<br>
                    and deliver content in<br>
                    collaboration with the team<br>
                    members. She is a reliable and<br>
                    friendly person."</p>
            </div>
        </div>
    </div>

</div>