.collegues_container {
    display: flex;
    justify-content: center;
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
    width: 100vw;
    height: 75vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat";
    color: white;
    width: 85vw;
    height: 80%;
    margin-top: 2%;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-family: 'Baloo';
        font-size: 45px;
        font-weight: 400;
        line-height: 100%;

    }

    h2 {
        font-size: 32px;
        font-weight: 400;
        line-height: 100%;
        margin: unset;
    }
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    div {
        display: flex;
        flex-direction: column;
        color: white;
        border-radius: 10px;
        margin: 18px;

        .collegue_name {
            font-size: 24px;
            font-weight: 700;
        }

        .project {
            font-size: 16px;
            font-weight: 400;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            margin-top: 35px;
        }
    }
}

@media (max-width: 1250px) {
    .content {
        width: 96vw !important;
    }
}

@media (max-width: 1080px) {
    .collegues_container {
        height: 60vh;
    }

    .content {
        height: 90%;
    }

    .title {
        height: 20%;
    }

    .reviews {
        height: 70%;
        overflow-x: auto;

        span {
            height: 17.5%;
            overflow: hidden;
        }

        p {
            height: 65%;
            margin-top: 2px !important;
            overflow-y: auto;
        }
    }

}

@media (max-width: 900px) {

    .content {
        width: 96vw;
    }

    .reviews {
        div {
            margin: 16px !important;
        }

        .collegue_name {
            font-size: 22px !important;
        }

        .project {
            font-size: 16px !important;
        }

        p {
            font-size: 18px !important;

            br {
                display: none;
            }
        }
    }

    h1 {
        font-size: 42px !important;
    }

    h2 {
        font-size: 28px !important;
    }
}

@media (max-width: 720px) {}

@media (max-width: 650px) {

    .title {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 23px !important;
    }

    .reviews {
        p {
            font-size: 16px !important;
        }
    }

}

@media (max-width: 500px) {
    h1 {
        font-size: 35px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    .reviews {
        div {
            margin: 16px;
        }

        .collegue_name {
            font-size: 18px !important;
        }

        .project {
            font-size: 14px !important;
        }

        p {
            font-size: 14px !important;
        }
    }
}

@media (max-width: 400px) {

    .title {
        margin-bottom: 43px !important;
    }

    h1 {
        font-size: 33px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    .reviews {
        div {
            margin: 12px !important;
        }

        .collegue_name {
            font-size: 18px !important;
        }

        .project {
            font-size: 14px !important;
        }

    }
}

@media (max-width: 350px) {
    .title {
        margin-bottom: 50px !important;
    }

    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 16px !important;
    }

    .reviews {

        span {
            height: fit-content;
        }

        .collegue_name {
            font-size: 16px !important;
        }

        .project {
            font-size: 14px !important;
        }

        p {
            font-size: 12px !important;
            margin-top: 12px !important;
        }

    }
}