#startScreen_container {
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(234, 240, 255, 1) 100%);
    height: 100vh;

    .content {
        position: relative;
        display: flex;
        flex-direction: row;
        font-family: "Montserrat";
        color: #5988FF;
        width: 85vw;
        height: 100vh;

        .left_side {
            width: 50%;
        }

        .right_side {
            width: 50%;
        }

    }
}

.left_side {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    #ellipse {
        position: absolute;
        width: 610px;
        height: 630px;
        top: 0;
        left: -10%;
    }

    .image_container {
        position: relative;

        img {
            width: 400px;
            height: 600px;
        }

    }
}

.right_side {
    position: relative;
    display: flex;
    flex-direction: column;

    .placeholder_right_side {
        position: relative;
        margin-bottom: 25vh;
    }
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;

    div {
        position: relative;
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    h1 {
        font-size: 34px;
        font-weight: 400;
        margin: unset;
    }

    span {
        font-family: 'Baloo';
        font-size: 100px;
        line-height: 100%;
    }
}

.bottom_part {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;

    .scrollSection {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        opacity: 0.5;
        height: 60%;

        .animate-scrollText {
            opacity: 0;
            animation: fadeInText 7s infinite;
            animation-delay: 1.5s;
            font-size: 18px;
        }

        .display-scrollText {
            animation: fadeInText 1.5s forwards;
            font-size: 18px;
        }

        .scrollBar {
            .animate-scrollBar {
                animation: fadeInBar 7s infinite;
                animation-delay: 1.5s;
                border-radius: 3px;
                height: 100%;
            }

            .display-scrollBar {
                animation: fadeInBar 1.5s forwards;
                border-radius: 3px;
                height: 100%;
            }

            width: 4px;
            height: 87%;
        }
    }
}

.side_icons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: max-content;
    bottom: 40px;

    div {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;

        img {
            width: 35px;
            height: 35px;
            cursor: pointer;
        }

    }
}

.hover_side_icons {
    transform: translateX(-10px);
    transition: all 125ms ease-in-out;
    cursor: pointer;
}

.return {
    transform: translateX(0px);
    transition: all 125ms ease-in-out;
    cursor: pointer;
}




@keyframes fadeInBar {
    0% {
        background: rgb(89, 136, 255);
        background: linear-gradient(180deg, rgba(89, 136, 255, 1) 85%, rgba(255, 255, 255, 1) 100%);
        height: 0%;
    }

    27% {
        background: linear-gradient(180deg, rgba(89, 136, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
        height: 100%;
    }

    28% {
        background: linear-gradient(180deg, rgba(89, 136, 255, 1) 93%, rgba(255, 255, 255, 1) 100%);
    }

    29% {
        background: linear-gradient(180deg, rgba(89, 136, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);

    }

    30% {
        background: linear-gradient(180deg, rgba(89, 136, 255, 1) 97%, rgba(255, 255, 255, 1) 100%);

    }

    31% {
        background: linear-gradient(180deg, rgba(89, 136, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
    }

    100% {
        background: linear-gradient(180deg, rgba(89, 136, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
    }
}


@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.titleContainer_responsive {
    position: relative;
    display: none;
    width: 100%;

    .title_responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: rgb(255, 255, 255);

        h1 {
            font-size: 18px;
            font-weight: 400;
            margin: unset;
        }

        span {
            font-family: 'Baloo';
            font-size: 70px;
            line-height: 100%;
        }
    }
}

#scroll_info_responsive {
    position: absolute;
    bottom: 30px !important;
    right: 3px !important;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 20px;
            color: #5988FF;
            transform: rotate(90deg);
            margin-bottom: 30px;
        }

        img {
            width: 30px;
            height: 80px;
        }
    }
}

.arrowAnimation {
    animation: arrowAnimation 1s infinite;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}















@media (max-width: 1440px) {

    .right_side {
        display: none;
        width: 0%;
    }

    .content {
        width: 96vw !important;
    }

    .side_icons {
        display: none;
    }

    .left_side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100% !important;
        height: 80vh;
        margin-top: 20vh;
        overflow: hidden;
    }

    .titleContainer_responsive {
        display: unset;
    }

    .image_container {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            width: 270px;
            height: 400px;
        }
    }

    #ellipse {
        width: 48vw !important;
    }

    #scroll_info_responsive {
        display: unset !important;
    }
}

@media (max-width: 1080px) {
    #ellipse {
        width: 52vw !important;
        height: 535px !important;
    }

    .title_responsive {

        h1 {
            font-size: 24px !important;
        }

        span {
            font-size: 71px !important;
        }
    }
}

@media (max-width: 1000px) {
    #ellipse {
        height: 525px !important;
    }

    .title_responsive {
        span {
            font-size: 66px !important;
        }
    }
}

@media (max-width: 900px) {
    #ellipse {
        height: 480px !important;
    }

    .title_responsive {

        span {
            font-size: 55px !important;
        }
    }

}

@media (max-width: 800px) {
    #ellipse {
        width: 55vw !important;
        height: 450px !important;
    }


    .title_responsive {

        h1 {
            font-size: 22px !important;
        }

        span {
            font-size: 52px !important;
        }
    }
}

@media (max-width: 750px) {
    #ellipse {
        width: 55vw !important;
        height: 412px !important;
    }
}

@media (max-width: 680px) {
    #ellipse {
        width: 65vw !important;
        height: 405px !important;
    }

}

@media (max-width: 580px) {
    #ellipse {
        width: 68vw !important;
        height: 400px !important;
    }
}

@media (max-width: 550px) {
    #ellipse {
        width: 75vw !important;
        height: 385px !important;
    }
}

@media (max-width: 500px) {
    #ellipse {
        width: 80vw !important;
        height: 375px !important;
    }
}

@media (max-width: 470px) {
    #ellipse {
        width: 85vw !important;
    }
}

@media (max-width: 440px) {
    #ellipse {
        width: 90vw !important;
        height: 365px !important;
    }
}

@media (max-width: 420px) {
    #ellipse {
        width: 90vw !important;
        height: 352px !important;
    }

    .title_responsive {

        h1 {
            font-size: 21px !important;
        }

        span {
            font-size: 45px !important;
        }
    }
}

@media (max-width: 370px) {
    #ellipse {
        width: 102vw !important;
        height: 337px !important;
    }

    .title_responsive {

        h1 {
            font-size: 20px !important;
        }

        span {
            font-size: 45px !important;
        }
    }
}

@media (max-width: 330px) {
    #ellipse {
        width: 97vw !important;
        height: 330px !important;
    }

    .title_responsive {

        h1 {
            font-size: 18px !important;
        }

        span {
            font-size: 39px !important;
        }
    }
}