<div id="aboutMe_link" class="target-element"></div>
<div class="aboutMe_container">
    <img src="./../../../assets/ellipse.png" class="ellipse_1">
    <img src="./../../../assets/ellipse.png" class="ellipse_2">

    <div class="content">

        <div class="left_side">
            <div class="leftSide_mainPart">
                <h1 id="work_together">Lasst uns zusammen arbeiten</h1>
                <h2 id="i_am">Ich bin</h2>
                <div class="shortCutsContainer">
                    <div>
                        <div>
                            <div class="shortCutsImages" id="locationShortcut">
                                <img src="./../../../assets/about_me/location.png" id="location_img">
                                <img src="./../../../assets/about_me/location_hover.png" id="location_hover_img"
                                    class="display-none">
                            </div>
                            <span id="locatedIn">wohnhaft in <br> Stuttgart</span>
                        </div>
                    </div>

                    <div>
                        <div>
                            <div class="shortCutsImages" id="remoteShortcut">
                                <img src="./../../../assets/about_me/remote.png" id="remote_img">
                                <img src="./../../../assets/about_me/remote_hover.png" id="remote_hover_img"
                                    class="display-none">
                            </div>
                            <span id="remoteWork">Bereit remote <br> zu arbeiten</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right_side">
            <div class="rightSide_mainPart">
                <div>
                    <p id="about_me_main"> Ich bin ein Frontend Developer aus Stuttgart.<br>
                        Ich setze gerne die Ideen von Designern <br>
                        und Unternehmen in echte Projekte um. <br>
                        Ich bin würde deshalb gerne eine Stelle <br>
                        als junior web developer aufnehmen.<br>
                        Meine Fähigkeiten komplexe Probleme zu lösen <br>
                        und meine Leidenschaft für das Programmieren <br>
                        machen mich zu einem wertvollen Mitglied für Ihr Team.
                    </p>
                    <p id="contact_if_match">
                        Kontaktieren Sie mich, wenn Sie denken,<br>
                        dass ich in Ihr Team passe.
                    </p>
                    <div id="contact_me_BtnContainer">
                        <a href="#contact_link">
                            <button class="button" id="sendMessage">Kontaktiere mich</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>