<div id="contact_link" class="target-element"></div>
<div class="contact_container">
    <img src="./../../../assets/ellipse.png" class="ellipsis_1">
    <img src="./../../../assets/ellipse.png" class="ellipsis_2">
    <img src="./../../../assets/ellipse.png" class="ellipsis_3">

    <div class="content">
        <h1 id="contact">Kontakt</h1>
        <div class="left_and_right_side">
            <div class="left_side">
                <h2 id="gotAProblem">Sie haben ein Problem?</h2>
                <p id="contactMeText">Kontaktieren Sie mich. Zusammen finden wir eine Lösung, <br>
                    wie ich mit meiner Arbeit eine Lösung für Ihre Ideen finde.</p>

                <span id="needADeveloper">Sie brauchen einen Frontend Developer? <b>Kontaktieren Sie mich!</b></span>
            </div>


            <form class="right_side">
                <input type="text" placeholder="Name" required id="clientName">
                <input type="text" placeholder="E-Mail" required id="clientEmail">
                <textarea placeholder="Nachricht" required id="clientMessage"></textarea>
                <div>
                    <input type="checkbox" id="checkbox">
                    <span id="read_privacy_policy">Ich habe die Datenschutzerklärung gelesen und bin mit der beschriebenen Verarbeitung meiner Daten einverstanden.</span>
                </div>
                <div class="buttonContainerCenter">
                    <div>
                        <button class="button" id="sayHello">Say hello ;)</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="go_up_container">
            <a href="#startScreen_container"><img src="./../../../assets/contact/go_up.png" class="go_up_icon"></a>
            <a href="#startScreen_container"><img src="./../../../assets/contact/go_up_hover.png" class="go_up_icon_hover"></a>
        </div>

    </div>


</div>