.footer_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    width: 100vw;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
}

@mixin line_setting {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    color: white;
    width: 80%;
    max-width: 1920px;
    height: max-content;
}

.line_1 {
    @include line_setting();
    font-size: 23px;

    .frontend_logo {
        width: 64px;
        height: 72px;
    }

}

.line_2 {
    @include line_setting();
    font-size: 16px;
    a {
        color: white;
        text-decoration: none;
    }

    .placeholder_line_2 {
        width: 64px;
        height: 72px;
    }
}

.icons_footer {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 160px;

    div, img {
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 25px;
        margin-right: 25px;
    }

    img {
        cursor: pointer;
        &:hover {
            scale: 1.2;
            transition: all 125ms ease-in-out;
        }

        &:not(:hover) {
            transition: all 125ms ease-in-out;
        }
    }

    span {
        font-size: 12px;
        text-align: center;
        color: #ffc8d2;
    }
}




@media (max-width: 1250px) {
    .footer_container {
        padding: unset;
    }
    .line_1, .line_2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    .line_1 {
        margin-bottom: 20px;

        img, span {
            margin-bottom: 20px;
        }
    }

    .line_2 {
        .placeholder_line_2 {
            display: none;
        }

        span {
            font-size: 10px;
            margin-top: 10px;
        }
    }
}


@media (max-width: 400px) {
    .icons_footer img, .icons_footer div {
        width: 30px;
        height: 30px;
    }

    .line_1 {
        font-size: 20px;
        margin-bottom: 10px;
        .frontend_logo {
            width: 44px;
            height: 52px;
        }
        img, span {
            margin-bottom: 17px;
        }
    }

    .line_2 {
        font-size: 16px;
    }
   
}