.privacy_policy_container {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    width: 100vw;
    margin-top: 12vh;
}

.content {
    width: 85vw;
    height: fit-content;
}