.navigation_container {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 15vh;
    z-index: 50;

    .empty_space {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 7.5vw;
        height: 100%;

        img {
            width: 23px;
            height: 23px;
            margin: 5px;
            cursor: pointer;

            &:hover {
                filter: brightness(1.1);
                transition: all 125ms ease-in-out;
            }

            &:not(:hover) {
                transition: all 125ms ease-in-out;
            }
        }
    }

    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85vw;

        img {
            width: 43px;
            height: 45px;

            &:hover {
                filter: brightness(1.025);
                transition: all 125ms ease-in-out;
            }
        }

        .nav_links {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 35%;

            div {
                position: relative;
                display: flex;
                justify-content: center;
                min-width: 100px;
                max-width: 100px;
            }
        }

        a {
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            color: #5988FF;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                font-weight: 700;
                transition: all 125ms ease-in-out;
            }

            &:not(:hover) {
                transition: all 125ms ease-in-out;
            }

        }
    }
}



/*------------------------------------------------------------------------------*/

.navigation_background {
    position: absolute;
    background: rgb(231, 245, 254);
    background: linear-gradient(180deg, rgba(231, 245, 254, 1) 88%, rgba(231, 245, 254, 0.8436508392419468) 91%, rgba(231, 245, 254, 0) 100%);
    transition: all 425ms ease-in-out;
    width: 100vw;
    height: 12vh;
    top: 0;
}

.white-font {
    div {
        a {
            color: rgb(27, 27, 27) !important;
        }
    }
}




.header_responsive {
    position: fixed;
    display: flex;
    justify-content: center;
    background: rgb(91, 145, 180);
    width: 100vw;
    height: 11vh;
    visibility: hidden;
    z-index: 50;

    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96vw;
        height: 100%;
        z-index: 54;


        img {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        #languages {
            display: flex;
            justify-content: space-between;
            opacity: 0;
            transition: all 75ms ease-in-out;
            width: 30%;

            img {
                width: 35px;
                height: 35px;
            }
        }

        .menu_close_container {
            position: relative;
        }

        #close {
            display: none;
        }
    }
}


.resonsive_menu {
    position: absolute;
    transform: translateX(110vw);
    transition: all 125ms ease-in-out;
    background-color: rgb(91, 145, 180);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 52;

    .placeholder_top {
        background: rgb(91, 145, 180);
        width: 100vw;
        height: 11vh;
    }

    .resp_menu_content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(63, 101, 125);
        width: 100vw;
        height: 89vh;

        nav {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 40%;

            a {
                font-family: "Montserrat", sans-serif;
                font-size: 23px;
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
        }
    }
}

.rollOut {
    transform: translateX(0vw);
    visibility: visible;
}

.fadeInLanguages {
    opacity: 1 !important;
    transition-delay: 0.1s !important;
}


@media (max-width: 1080px) {
    .navigation_container {
        visibility: hidden;
    }

    .header_responsive {
        visibility: visible;
    }
}