<div class="navigation_container" id="navigation">
    <div id="navigation_background"></div>
    <div class="empty_space">
    </div>

    <nav>
        <div>
            <img src="./../../../assets/frontend_logo.png">
        </div>
        <div class="nav_links" id="nav_links">
            <div>
                <a href="#link_to_aboutMe" id="about_me">Über mich</a>
            </div>
            <div>
                <a href="#link_to_skillSet" id="skill_set">Skills</a>
            </div>
            <div>
                <a href="#link_to_myWork" id="my_work">Projekte</a>
            </div>
        </div>
    </nav>

    <div class="empty_space">
        <img src="./../../../assets/english.png" (click)="functions.english()" id="english">
        <img src="./../../../assets/german.png" (click)="functions.german()" id="german">
    </div>

</div>








<div class="header_responsive">

    <nav>
        <img src="./../../../assets/frontend_logo.png">
        <div class="menu_close_container">
            <img src="./../../../assets/menu.png" (click)="openMenu()" id="menu">
            <img src="./../../../assets/close.png" (click)="closeMenu()" id="close">
        </div>
    </nav>

    <div class="resonsive_menu" id="responsive_menu">
        <div class="placeholder_top"></div>
        <div class="resp_menu_content">
            <nav>
                <a href="#link_to_startScreen" (click)="closeMenu()">Start</a>
                <a href="#link_to_aboutMe" (click)="closeMenu()">Über mich</a>
                <a href="#link_to_skillSet" (click)="closeMenu()">Skills</a>
                <a href="#link_to_myWork" (click)="closeMenu()">Projekte</a>
            </nav>
        </div>
    </div>


</div>