<div class="navigation_container" id="navigation">
    <div id="navigation_background"></div>
    <div class="empty_space">
    </div>

    <nav>
        <div>
            <img src="./../../../assets/frontend_logo.png" (click)="goHome()" (mouseover)="activateCursor()" id="logo">
        </div>
        <div class="nav_links" id="nav_links">
            <div>
                <a href="#aboutMe_link" id="about_me">Über mich</a>
            </div>
            <div>
                <a href="#skillSet_link" id="skill_set">Skills</a>
            </div>
            <div>
                <a href="#myWork_link" id="my_work">Projekte</a>
            </div>
        </div>
    </nav>

    <div class="empty_space">
        <img src="./../../../assets/english.png" (click)="languagesTS.english()" id="english">
        <img src="./../../../assets/german.png" (click)="languagesTS.german()" id="german">
    </div>

</div>








<div class="header_responsive">

    <nav>
        <img src="./../../../assets/frontend_logo.png">
        <div id="languages">
            <img src="./../../../assets/english.png" (click)="languagesTS.english();" id="english">
            <img src="./../../../assets/german.png" (click)="languagesTS.german();" id="german">
        </div>
        <div class="menu_close_container">
            <img src="./../../../assets/menu.png" (click)="openMenu()" id="menu">
            <img src="./../../../assets/x_mark.png" (click)="closeMenu()" id="close">
        </div>
    </nav>

    <div class="resonsive_menu" id="responsive_menu">
        <div class="placeholder_top"></div>
        <div class="resp_menu_content">
            <nav>
                <a href="#startScreen_link" (click)="closeMenu()">Start</a>
                <a href="#aboutMe_link" (click)="closeMenu()" id="respAboutMe">Über mich</a>
                <a href="#skillSet_link" (click)="closeMenu()" id="respSkillSet">Skills</a>
                <a href="#myWork_link" (click)="closeMenu()" id="respMyWork">Projekte</a>
            </nav>
        </div>
    </div>


</div>