.imprint_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat";
    width: 100vw;
    margin-top: 12vh;
}

.content {
    width: 80%;
    max-width: 1920px;
    height: fit-content;
}
