<body>
    <div class="imprint_container" id="#imprint_link">
        <div class='content'>
            <h1 id="imprintTitle">Impressum</h1>
            <p id="informationAccording">Angaben gemäß § 5 DDG</p>
            <p>Sangeethan Logananthem<br>
                Beim Fasanengarten 37<br>
                70499 Stuttgart<br>
            </p>
            <p>
                <strong id="representedBy">Vertreten durch:</strong><br>
                <span>Sangeethan Logananthem</span><br>
            </p>
            <p>
                <strong id="contactImprint">Kontakt:</strong> <br>
                <span id="telephone">Telefon:</span> 01779190977<br>
                E-Mail: <a href='mailto:contact@sangeethan-developer.com'>contact&#64;sangeethan-developer.com</a><br>
            </p>
        </div>
    </div>

</body>