<div id="link_to_skillSet" class="target-element"></div>
<div class="skillSet_container">
    <div class="content">
        <h1 id="skills">Skills</h1>
        <div class="wrap_container">
            @for (image of icons; track image) {
            <div class="wrap_element">
                <img src="./../../../assets/skill_set/{{image.image_name}}.png">
                <span>{{image.name}}</span>
            </div>
            }
            <div class="growth_mindset" (click)="show_growthMindset_note()">
                <div>
                    <img src="./../../../assets/skill_set/growth_mindset_hover.png" class="growth_mindset_hover" id="growth_mindset_note">
                    <img src="./../../../assets/skill_set/11.png">
                    <span>Growth Mindset</span>
                </div>
            </div>
        </div>

    </div>

</div>